.App {
  display: flex;
  justify-content: center;
  height: 500px;
}

.CounterContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: 40px;
  width: 40px;
  background-color: rgba(193, 0, 242, 0.4);
}
